$dark-cyan: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 112.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  color: $dark-blue;
  background-color: $dark-cyan;
  height: 100vh;
  overflow: hidden;
}

.circle {
  position: absolute;
  z-index: -1;

  &--top {
    top: -80%;
    left: -15%;
  }

  &--bottom {
    bottom: -80%;
    right: -20%;
  }
}
